<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <section class="main-header">
          <p class="flash"><%= notice %><%= alert %></p>
          <h1 class="name">
            Shuji Kawamoto
          </h1>
          <img src="<%= asset_path "shuji.jpg" %>">
        </section>
        <section class="me container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <p>
                東京工科大学メディア学部メディア学科3年の河本周時と申します。<br>
                SXD(ソーシャルエクスペリエンスデザイン)研究室に所属していて、UXに関係した研究をしています！<br>
                趣味はバドミントンとバイクです！<br>
                バドミントンは中学一年から続けていて今年で10年目です！！<br>
                バイクはNinja250SLに乗っています！！<br>
                最近プログラミングを始めて、個人やチームで開発をして、技術力を高めています！！
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
