<div class="container-fluid">
  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="name">
          Awards
        </h1>
        <section class="inform">
          <h1>COLLEGE</h1>
          <img src="<%= asset_path "school.jpg" %>">
        </section>
        <section class="description container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <p>
                大学では賞状を２つ頂きました。<br>
                どちらも1年次(平成26年)に頂きました。<br>
                学長賞(1位)はグループでフィールドワークを行い、八王子の問題を調査しポスターにまとめ発表するというものでした。<br>
                メディアエキスパート賞は学業成績がよい人に与えられます。
              </p>
            </div>
          </div>
        </section>

        <section class="inform">
          <h1>BADMINTON</h1>
          <img src="<%= asset_path "badminton.jpg" %>">
        </section>
        <section class="description container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <p>
                趣味のバドミントンでは平成28年に賞状を二つ頂きました。<br>
                1つはシングルスで平塚会長杯のCクラスで準優勝しました。<br>
                2つ目は所属している社会人チームで団体戦に出場し、2部で3位になりました。
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
